h1,h2 {
    font-family: -apple-system, "Open Sans";
    font-weight: 100;
    text-align: center;
    font-size: 6vw;
    margin: 3px;
}

#myname{
    font-size: 12vw;
}
p{
    font-family: -apple-system, "Open Sans";
    font-weight: 10;
    text-align: center;
}

.prList{
    text-align: center;
}

.li{
    font-family: -apple-system, "Open Sans";
    display: inline-block;
    text-align: center;
    padding: 5px;
    list-style-type: disc;
    line-height: 2;
}

.Name {
    color:#157079;
    font-size: 100px;
}

.About{
    color:white;
    background-color:#157079;
    /*border: 10 px;*/;
    padding: 10%;
}

.pIcons{
    border-radius:25px;
    max-width: 100%;
    max-height: 100%;
}

.br{
    line-height: 100%;
    margin-top: 10px;
}
.portpic{
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    max-width: 24vw;
    max-height: 24vh;
    min-width: 10vw;
    min-height: 10vw;
    margin-top: 100px;
}
.cImage{
    max-width: 60vw;
    max-height: 60vh;
}

.projvideo{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.projPara{
    padding: 5px;
    line-height: 2;
}

.projlist{
    font-family: -apple-system, "Open Sans";
    text-align: center;
    list-style: inside;
}

.writeup{
    padding: 50px;
}
/*.row{
   
}*/

/* The grid: Three equal columns that floats next to each other */
.column {
   
    display: inline-block;
    justify-content:center;
    flex-wrap: wrap;
    padding: 25px;
    text-align: center;
    font-size: 25px;
    cursor: pointer;
    color:#157079;
  }
  
  .containerTab {
    padding: 30px;
    color: white;
    max-width: 100%;
    color:#157079;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Closable button inside the image */
  .closebtn {
    float: right;
    color:#157079;
    font-size: 35px;
    cursor: pointer;
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
  }

.Projects{
    padding: 50px; 
    color:#157079  
}

.Contact{
    padding: 50px;
    color:white;
    background-color:#157079;
}
.container
{
     text-align: center;
}
.left-div
{
     display: inline-block;
     max-width: 30%;
     vertical-align: top;
     padding:10px;
}
.right-div
{
     display: inline-block;
     max-width: 30%;
     padding: 10px;
}
@media screen and (max-width: 600px) 
{
     .left-div, .right-div
     {
          max-width: 100%;
     }
}


/*
.collapsible {
    background-color:#eee;
    color: #444;
    cursor: pointer;
    padding: 19px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
}

.active, .collapsible:hover {
    background-color:#111;
}

.content {
    padding: 0 18 px;
    overflow: hidden;
    background-color: #f1f1f1;
    max-height: 0;
    transition: max-height 0.2s ease-out;
}*/
